@import '../../../mixins/utils.scss';

.work {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
  height: fit-content;
  grid-gap: 40px;
  overflow: hidden;

  @include laptop {
    padding: 40px;
    grid-gap: 20px;
  }

  @include tablets {
    padding: 20px;
    justify-content: center;
  }
}
