$primary-text-color: #000000;
$secondary-text-color: #FFFFFF;

$primary-background-color: #FFFFFF;
$secondary-background-color: #000000;

$border-color: rgba(128, 128, 128, 0.2);

$link-button-background: #b83ffd;
$secondary-link-button-background: #FFFFFF;
$link-button-hover-background: #f4e5fd;
