@import '../../../mixins/utils.scss';

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: repeat(auto-fill, 350px);
  padding: 30px;
  height: 100%;
  gap: 30px;
  overflow: hidden;

  @include laptop {
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: repeat(auto-fill, 340px);
  }

  @include tablets {
    padding: 20px;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
