@import '../mixins/utils.scss';

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 40px;
  padding-right: 0;

  @include laptop {
    padding: 0 40px;
  }

  @include tablets {
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }
}