@import '../mixins/utils.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;

  @include laptop {
    padding: 40px;
  }

  @include tablets {
    padding: 20px;
    flex-direction: column;
  }
}