@import '../../mixins/utils.scss';

.container {
  position: relative;
  top: -292px;
  z-index: 1;
}

.layout {
  max-width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 2px 6px 31px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

